.card {
  padding: 1.25rem;
  background: var(--color-bg-card);
  border-radius: var(--border-radius-card);
  border: var(--border);
  box-sizing: border-box;
  width: fit-content;

  h2 .icon {
    margin-right: 0.5rem;
    width: fit-content;
    fill: var(--color-primary-light);
  }
}